header.header
    .container
        .header__inner
            .header__brand 
                | WEBDEVELOPER
            .header__logo
                img(src="img/code.svg" alt="")
            nav.header-nav
                a.header__link(href="index.html") Home
                a.header__link(href="about.html") About me
                a.header__link(href="contacts.html") Contact