footer.footer
	.container
		.footer__contacts
			a.footer__link(href="mailto:soulofjump@gmail.com")
				img.footer__icon(src="img/mail.svg" alt="")
				| soulofjump@gmail.com
			a.footer__link(href="tel:+380500112267")
				img.footer__icon(src="img/tel.svg" alt="")
				| +38 050 011 22 67