.container
    main.main
        .main__header
            h2.main__subtitle 
                | My name is
            h1.main__title
                | Andrey Ryabchych and I’m 
                span.marked Web Developer
        p.main__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like
        a.btn(href="contacts.html") Contact Me
