@import '../../scss/mixins.scss';

.main {
    height: 100%;
    width: 100%;
    max-width: 651px;

    &__header {
        margin-bottom: 35px;
    }

    &__subtitle {
        font-size: 1.4rem;
        color: rgba(255, 255, 255, .6);
        font-weight: 300;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 2rem;
        font-weight: 500;
        color:#fff;
        line-height: 1.2;
        
        .marked {
            color:#2B7DED;
        }
    }

    &__text {
        margin-bottom: 50px;
        font-size: 1rem;
        color:#fff
    }

    @include maxW(768) {
            max-width: none;
            margin-bottom: 50px;
            text-align: center;
        }

    @include maxW(376) {
        &__subtitle {
                font-size: 1.2rem;
            }
        
        &__title {
                font-size: 1.5rem;
            }
        }
}

