doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='icon' href='files/favicon.png')
		title Testing
		link(rel="stylesheet" href="css/style.min.css")
	body
		.page
			include pug/header/header
			include pug/main/main
			include pug/footer/footer
			
			.author
				img(src="./img/me.png" alt="")